@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&family=Source+Sans+Pro:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

.navbar {
  background: #5584B1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 30px;
  color: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar h2 a {
  color: #fff;
}

.navbar svg {
  font-size: 20px;
  cursor: pointer;
}

.navbar__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: opacity 200ms;
  transition: opacity 200ms;
  opacity: 0;
  pointer-events: none;
  z-index: 100 !important;
}

.navbar__overlay.active {
  opacity: 1;
  pointer-events: all;
  z-index: 999;
}

.navbar__links {
  position: fixed;
  top: 0;
  right: -250px;
  width: 200px;
  height: 100vh;
  background: #fff;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  -webkit-transition: right 200ms;
  transition: right 200ms;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
}

.navbar__links button {
  all: unset;
}

.navbar__links p {
  cursor: pointer;
  margin-bottom: 20px;
}

.navbar__links.active {
  right: 0;
}

.navbar__links--closeIcon {
  text-align: right;
  margin-bottom: 10px;
}

.navbar__links--closeIcon svg {
  font-size: 25px;
}

.navbar__links--notification {
  margin-bottom: 20px;
  position: relative;
}

.navbar__links--notificationIcon {
  position: relative;
}

.navbar__links--notificationIcon div {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ff4646;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 13px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.navbar__links--notificationDropdown {
  position: absolute;
  top: 100%;
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
  right: 0;
  width: 300px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  color: #000;
  max-height: 500px;
  overflow: auto;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: -webkit-transform 150ms;
  transition: -webkit-transform 150ms;
  transition: transform 150ms;
  transition: transform 150ms, -webkit-transform 150ms;
}

.navbar__links--notificationDropdown.active {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.navbar__links--notificationDropdown::-webkit-scrollbar {
  width: 13px;
}

.navbar__links--notificationDropdown::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.navbar__links--notificationDropdown::-webkit-scrollbar-thumb {
  background: #CBE2EF;
  border-radius: 50px;
}

.navbar__links--notificationContent {
  padding: 10px 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #000;
}

.navbar__links--notificationContent div:first-child {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.navbar__links--notificationContent > * + * {
  margin-left: 10px;
}

.navbar__links--notificationContent div:last-child {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.navbar__links--notificationContent:hover {
  background: #ccc;
}

.navbar__links--notificationContent div:first-child > * + * {
  margin-top: 7px;
}

.navbar__links--notificationContent a:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.navbar__links--notificationContent a:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.navbar__links--profile {
  position: relative;
}

.navbar__links--profile img {
  cursor: pointer;
}

.navbar__links--profileDropdown {
  position: absolute;
  top: 100%;
  right: 0;
  background: #fff;
  width: 210px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
  margin-top: 10px;
}

.navbar__links--profileDropdown.active {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.navbar__links--profileDropdown a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  color: #000;
}

.navbar__links--profileDropdown a svg {
  font-size: 17px;
}

.navbar__links--profileDropdown a:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.navbar__links--profileDropdown a:hover {
  background: #ebebeb;
}

.navbar__links--profileDropdown a:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.navbar__links--profileDropdown a:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

@media (min-width: 700px) {
  .navbar {
    padding: 15px 50px;
  }
  .navbar > svg {
    display: none;
  }
  .navbar__overlay {
    all: unset;
  }
  .navbar__links {
    all: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 25px;
  }
  .navbar__links--closeIcon {
    display: none;
  }
  .navbar__links p, .navbar__links--notification {
    margin-bottom: 0;
  }
  .navbar__links--notification {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #000;
}

.avatar img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.questionBox {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 15px;
  margin-top: 15px;
}

.questionBox__answer {
  margin-top: 15px;
}

.questionBox__answer .inputGroup label {
  margin-left: 7px;
}

.infoCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px #5584B1;
          box-shadow: 0 0 10px #5584B1;
  padding: 15px 25px;
  color: #254E7B;
}

.classCard {
  width: 100%;
  background: #5584B1;
  border-radius: 5px;
  padding: 20px;
  color: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -webkit-transition: -webkit-transform 150ms;
  transition: -webkit-transform 150ms;
  transition: transform 150ms;
  transition: transform 150ms, -webkit-transform 150ms;
}

.classCard:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.classCard p {
  margin: 10px 0;
}

.classCard button {
  margin-top: 10px;
  background: #39658D;
}

.classCard button:hover {
  background: #385774;
}

.classCard__teacherInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gradeModal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 30px;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 200ms;
  transition: opacity 200ms;
  z-index: 9999 !important;
}

.gradeModal.active {
  opacity: 1;
  pointer-events: all;
}

.gradeModal__box {
  width: 100%;
  max-width: 600px;
  background: #fff;
  border-radius: 5px;
  height: 85vh;
  overflow: auto;
  -webkit-transform: translateY(-80px);
          transform: translateY(-80px);
  opacity: 0;
  -webkit-transition: -webkit-transform 200ms 200ms;
  transition: -webkit-transform 200ms 200ms;
  transition: transform 200ms 200ms;
  transition: transform 200ms 200ms, -webkit-transform 200ms 200ms;
}

.gradeModal__box.active {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
}

.gradeModal__box::-webkit-scrollbar {
  width: 13px;
}

.gradeModal__box::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.gradeModal__box::-webkit-scrollbar-thumb {
  background: #CBE2EF;
  border-radius: 50px;
}

.gradeModal__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 20px;
  border-bottom: 1px solid #ccc;
}

.gradeModal__header svg {
  cursor: pointer;
  font-size: 19px;
}

.gradeModal__body {
  padding: 15px 20px;
}

.gradeModal__body > h4 {
  margin-bottom: 20px;
  text-align: right;
}

.gradeModal__body .questionBox {
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 0;
}

.gradeModal__question:not(:last-child) {
  margin-bottom: 30px;
  border-bottom: 1px solid #ccc;
}

.loader {
  width: 40px;
  height: 40px;
  border: 5px solid #eeeeee;
  border-top: 5px solid #5584B1;
  border-radius: 50%;
  -webkit-animation: spinner 500ms infinite linear forwards;
          animation: spinner 500ms infinite linear forwards;
}

@-webkit-keyframes spinner {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinner {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.editProfile {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 30px;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 200ms;
  transition: opacity 200ms;
  z-index: 9999 !important;
  z-index: 999;
}

.editProfile.active {
  opacity: 1;
  pointer-events: all;
}

.editProfile__box {
  width: 100%;
  border-radius: 5px;
  max-width: 500px;
  background: #fff;
  -webkit-transform: translateY(-80px);
          transform: translateY(-80px);
  opacity: 0;
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
}

.editProfile__box.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.editProfile__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 20px;
  border-bottom: 1px solid #ccc;
}

.editProfile__header svg {
  font-size: 20px;
  cursor: pointer;
}

.editProfile__body {
  padding: 15px 20px;
}

.editProfile__body .avatar {
  width: 80px;
  height: 80px;
}

.editProfile__body button {
  width: 120px;
}

.changePassword {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 30px;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 200ms;
  transition: opacity 200ms;
  z-index: 9999 !important;
  z-index: 99;
}

.changePassword.active {
  opacity: 1;
  pointer-events: all;
}

.changePassword__box {
  width: 100%;
  max-width: 500px;
  background: #fff;
  border-radius: 5px;
  -webkit-transform: translateY(-80px);
          transform: translateY(-80px);
  opacity: 0;
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
}

.changePassword__box.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.changePassword__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding: 15px 20px;
}

.changePassword__header svg {
  font-size: 20px;
  cursor: pointer;
}

.changePassword__body {
  padding: 15px 20px;
}

.pagination {
  background: #5584B1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  margin-top: 40px;
}

.pagination div button {
  border-right: 1px solid #7c7c7c;
}

.pagination button {
  width: 50px;
  height: 50px;
  background: transparent;
  padding: 2px !important;
  color: #fff;
  border-radius: 0;
}

.pagination button.active {
  background: #254E7B;
}

.pagination button:not(:last-child) {
  border-right: 1px solid #7c7c7c;
}

.pagination button:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagination button:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.pagination button:hover {
  background: #254E7B;
}

.notFound {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.notFound h2 {
  color: #5b5b5b;
  margin-bottom: 20px;
}

.notFound p {
  font-size: 20px;
}

.notFound a {
  background: #5584B1;
  display: block;
  margin-top: 20px;
  width: 125px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  -webkit-transition: background 200ms;
  transition: background 200ms;
}

.notFound a:hover {
  background: #254E7B;
}

.auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

.auth__left, .auth__right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.auth__left {
  background: #ccc;
  display: none;
}

.auth__left img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.auth__right {
  padding: 30px 50px;
}

.auth__right h2 {
  margin-bottom: 30px;
  text-align: center;
}

.auth__right p {
  margin-top: 25px;
}

@media (min-width: 700px) {
  .auth__left {
    display: block;
  }
  .auth h2 {
    text-align: left;
  }
}

.role {
  cursor: pointer;
  width: 150px;
  text-align: center;
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
}

.roleIcon {
  border: 2px solid #c9c9c9;
  padding: 20px 0;
  margin-bottom: 7px;
  border-radius: 5px;
}

.roleIcon svg {
  font-size: 70px;
}

.roleIcon.active {
  border: 4px solid #85C1E5;
}

.role p {
  font-weight: bold;
}

.role p.active {
  color: #85C1E5;
}

.role:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.roleModal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 30px;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms;
}

.roleModal.active {
  opacity: 1;
  pointer-events: all;
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms;
}

.roleModal__box {
  width: 100%;
  max-width: 500px;
  background: #fff;
  border-radius: 5px;
  opacity: 0;
  -webkit-transform: translateY(-60px);
          transform: translateY(-60px);
  -webkit-transition: -webkit-transform 300ms 200ms;
  transition: -webkit-transform 300ms 200ms;
  transition: transform 300ms 200ms;
  transition: transform 300ms 200ms, -webkit-transform 300ms 200ms;
}

.roleModal__box.active {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
}

.roleModal__header {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #ccc;
}

.roleModal__header svg {
  cursor: pointer;
  font-size: 18px;
}

.roleModal__body {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.roleModal__choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin-bottom: 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 700px) {
  .roleModal__choice {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.studentDashboard__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.studentDashboard__search {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.studentDashboard__search input {
  height: 40px;
  border-radius: 5px;
  text-indent: 7px;
  padding-right: 7px;
  border: 1px solid #929292;
  outline: none;
  width: 100%;
  padding-right: 40px;
}

.studentDashboard__search input:focus {
  outline: 2px solid #85C1E5;
}

.studentDashboard__search svg {
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.studentDashboard__searchResult {
  position: absolute;
  top: 100%;
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  width: 100%;
  background: #fff;
  z-index: 99;
}

.studentDashboard__searchResult--blank {
  text-align: center;
  color: #f13333;
  font-weight: bold;
  font-size: 20px;
  padding: 15px 0;
}

.studentDashboard__searchResult--item {
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.studentDashboard__searchResult--item p {
  font-size: 15px;
  color: #5584B1;
  font-weight: bold;
  cursor: pointer;
}

.studentDashboard__searchResult--item:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.studentDashboard__filter {
  position: relative;
}

.studentDashboard__filter--btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  padding: 10px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.studentDashboard__filter--dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 10px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  width: 200px;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
  background: #fff;
}

.studentDashboard__filter--dropdown.active {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  z-index: 999;
}

.studentDashboard__filter--dropdown div {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  cursor: pointer;
}

.studentDashboard__filter--dropdown div svg {
  font-size: 25px;
}

.studentDashboard__filter--dropdown div:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.studentDashboard__filter--dropdown div:hover {
  background: #e4e4e4;
}

.studentDashboard__body {
  margin-top: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
}

.joinClass {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 30px;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 200ms;
  transition: opacity 200ms;
  z-index: 9999 !important;
  z-index: 99;
}

.joinClass.active {
  opacity: 1;
  pointer-events: all;
}

.joinClass__box {
  width: 100%;
  max-width: 400px;
  background: #fff;
  border-radius: 5px;
  -webkit-transform: translateY(-70px);
          transform: translateY(-70px);
  opacity: 0;
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
}

.joinClass__box.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
}

.joinClass__header {
  padding: 15px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #ccc;
}

.joinClass__header svg {
  cursor: pointer;
  font-size: 20px;
}

.joinClass__body {
  padding: 15px 20px;
}

.classDetail__header p {
  margin-top: 7px;
}

.classDetail__body {
  margin-top: 20px;
}

.classDetail__body--header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.classDetail__body--body .classDetail__input {
  display: none;
}

.classDetail__quizList {
  margin-top: 30px;
}

@media (min-width: 700px) {
  .classDetail__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 70px;
  }
  .classDetail__body__quizList {
    margin-top: 0;
  }
  .classDetail__body--body {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.filterSearch {
  position: relative;
}

.filterSearch--close {
  text-align: right;
  margin-bottom: 20px;
}

.filterSearch--close svg {
  cursor: pointer;
  font-size: 22px;
}

.filterSearch--btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 8px 10px;
  cursor: pointer;
}

.filterSearch--overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 200ms;
  transition: opacity 200ms;
}

.filterSearch--overlay.active {
  opacity: 1;
  pointer-events: all;
}

.filterSearch--sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  background: #fff;
  height: 100vh;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 230px;
  padding: 20px;
  -webkit-transition: left 200ms;
  transition: left 200ms;
}

.filterSearch--sidebar.active {
  left: 0;
}

.filterSearch--single h4 {
  margin-bottom: 15px;
}

.filterSearch--single .inputGroup {
  margin-bottom: 10px !important;
}

.filterSearch--single .inputGroup input {
  margin-right: 10px;
}

.filterSearch--single:not(:last-child) {
  margin-bottom: 30px;
}

.filterSearch--noInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  cursor: pointer;
}

.filterSearch--noInput svg {
  font-size: 22px;
}

.filterSearch--noInput:not(:last-child) {
  margin-bottom: 20px;
}

@media (min-width: 700px) {
  .filterSearch {
    position: unset;
  }
  .filterSearch--overlay {
    all: unset;
  }
  .filterSearch--btn, .filterSearch--close {
    display: none;
  }
  .filterSearch--sidebar {
    all: unset;
  }
}

.quizCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 10px 15px;
}

.quizCard:not(:last-child) {
  margin-bottom: 30px;
}

.quizCard h4 a {
  color: #5858ff;
  text-decoration: underline;
}

.quizCard__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.quizCard__right p:first-child {
  cursor: pointer;
}

.quizDetail button {
  float: right;
  margin-top: 20px;
}

.quizDetail__header > * + * {
  margin-top: 10px;
}

.quizDetail__body {
  margin-top: 30px;
  height: 60vh;
  overflow: auto;
  border: 2px solid #ccc;
  border-radius: 6px;
  padding: 15px 20px;
}

.quizDetail__body::-webkit-scrollbar {
  width: 10px;
}

.quizDetail__body::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 50px;
}

.quizDetail__body::-webkit-scrollbar-thumb {
  background: #CBE2EF;
  border-radius: 50px;
}

.quizDetail__question:not(:last-child) {
  margin-bottom: 40px;
}

.teacherDashboard__header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 30px;
}

.teacherDashboard__body {
  margin-top: 35px;
}

.teacherDashboard__body--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.teacherDashboard__body--title div {
  margin-top: 15px;
  position: relative;
}

.teacherDashboard__body--title div input {
  width: 100%;
  height: 35px;
  border-radius: 5px;
  border: 1px solid #929292;
  outline: none;
  text-indent: 7px;
  padding-right: 27px;
}

.teacherDashboard__body--title div input:focus {
  outline: 2px solid #85C1E5;
}

.teacherDashboard__body--title div svg {
  position: absolute;
  top: 50%;
  right: 7px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.teacherDashboard__body--searchResult {
  position: absolute;
  top: 100%;
  left: 0;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.teacherDashboard__body--searchData {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.teacherDashboard__body--searchData p {
  color: #5584B1;
  cursor: pointer;
}

.teacherDashboard__classList {
  margin-top: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
}

@media (min-width: 700px) {
  .teacherDashboard__body--title {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .teacherDashboard__body--title div {
    margin-top: 0;
  }
  .teacherDashboard__body--title div input {
    width: 400px;
  }
}

.classDetailModal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 30px;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 200ms;
  transition: opacity 200ms;
  z-index: 9999 !important;
}

.classDetailModal.active {
  opacity: 1;
  pointer-events: all;
}

.classDetailModal__box {
  width: 100%;
  max-width: 500px;
  background: #fff;
  border-radius: 5px;
  height: 90vh;
  -webkit-transform: translateY(-80px);
          transform: translateY(-80px);
  opacity: 0;
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
}

.classDetailModal__box.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
}

.classDetailModal__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #ccc;
}

.classDetailModal__header svg {
  font-size: 20px;
  cursor: pointer;
}

.classDetailModal__body {
  padding: 20px;
}

.classDetailModal__body--top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.classDetailModal__body--top h4 {
  position: relative;
  cursor: pointer;
  opacity: .7;
}

.classDetailModal__body--top h4::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  width: 80%;
  height: 3px;
  margin: auto;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #85C1E5;
  display: none;
}

.classDetailModal__body--top h4:hover::after, .classDetailModal__body--top h4.active::after {
  display: block;
}

.classDetailModal__body--top h4:hover, .classDetailModal__body--top h4.active {
  opacity: 1;
  color: #85C1E5;
}

.classDetailModal__body--bottom {
  height: 67vh;
  overflow: auto;
  padding: 5px;
}

.classDetailModal__body--bottom::-webkit-scrollbar {
  width: 10px;
}

.classDetailModal__body--bottom::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 50px;
}

.classDetailModal__body--bottom::-webkit-scrollbar-thumb {
  background: #CBE2EF;
  border-radius: 50px;
}

.createClass {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 30px;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 200ms;
  transition: opacity 200ms;
  z-index: 9999 !important;
  z-index: 99;
}

.createClass.active {
  opacity: 1;
  pointer-events: all;
}

.createClass__box {
  width: 100%;
  max-width: 400px;
  border-radius: 5px;
  background: #fff;
  -webkit-transform: translateY(-80px);
          transform: translateY(-80px);
  opacity: 0;
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
}

.createClass__box.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
}

.createClass__header {
  padding: 15px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #ccc;
}

.createClass__header svg {
  cursor: pointer;
  font-size: 20px;
}

.createClass__body {
  padding: 15px 20px;
}

.teacherQuizCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 12px 16px;
}

.teacherQuizCard:not(:last-child) {
  margin-bottom: 20px;
}

.teacherQuizCard__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.teacherQuizCard__right svg {
  font-size: 15px;
  cursor: pointer;
}

.teacherQuizCard__right svg:nth-child(1) {
  color: #85C1E5;
}

.teacherQuizCard__right svg:nth-child(2) {
  color: orange;
}

.teacherQuizCard__right svg:nth-child(3) {
  color: red;
  font-size: 13px;
}

.teacherQuizCard__right p {
  color: #fff;
  font-size: 14px;
  padding: 3px 6px;
  border-radius: 6px;
  cursor: pointer;
}

.teacherQuizCard__right p.open {
  background: #43c043;
}

.teacherQuizCard__right p.close {
  background: #f23636;
}

.peopleCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  padding: 12px 15px;
}

.peopleCard:not(:last-child) {
  margin-bottom: 20px;
}

.peopleCard__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.peopleCard__left--info h3 {
  margin-bottom: 5px;
}

.peopleCard__right button {
  width: 50px;
  height: 28px;
  line-height: 28px;
  background: #ee3030;
}

.peopleCard__right button:hover {
  background: #d12a2a;
}

.settingList h4 {
  margin-bottom: 20px;
}

.settingList .restrictGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 25px;
}

.settingList form {
  margin-bottom: 25px;
}

.settingList .deleteBtn {
  width: 100%;
  background: #e62a2a;
  margin-top: 10px;
}

.settingList .deleteBtn:hover {
  background: #c93333;
}

.settingList .createQuizBtn {
  width: 100%;
}

.submission__header > * + * {
  margin-top: 10px;
}

.submission__body {
  margin-top: 25px;
  height: 60vh;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 15px;
  overflow: auto;
}

.submission__body::-webkit-scrollbar {
  width: 10px;
}

.submission__body::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 50px;
}

.submission__body::-webkit-scrollbar-thumb {
  background: #CBE2EF;
  border-radius: 50px;
}

.submission__body table tr td button:first-child {
  width: 60px;
  margin-right: 12px;
}

.createQuiz__header {
  margin-bottom: 30px;
}

.createQuiz__header input, .createQuiz__header select {
  display: block;
  width: 100%;
  max-width: 500px;
  border-radius: 5px;
  height: 35px;
  text-indent: 7px;
  padding-right: 7px;
  border: 1px solid #929292;
  outline: none;
}

.createQuiz__header input:focus, .createQuiz__header select:focus {
  outline: 2px solid #85C1E5;
}

.createQuiz__header select {
  margin-top: 20px;
}

.createQuiz__header > * + * {
  margin-top: 10px;
}

.createQuiz__body {
  margin-top: 20px;
}

.createQuiz__question {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 15px;
}

.createQuiz__question--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.createQuiz__question--title svg {
  color: red;
  margin-left: 10px;
  cursor: pointer;
  font-size: 14px;
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}

.createQuiz__question:not(:last-child) {
  margin-bottom: 30px;
}

.createQuiz__question button {
  width: 100px;
  margin-top: 5px;
}

.createQuiz__question h3 {
  margin-bottom: 15px;
}

.createQuiz__question textarea {
  width: 100%;
  height: 60px;
  resize: false;
  padding: 7px;
  border: 1px solid #929292;
  outline: none;
  border-radius: 5px;
  margin-bottom: 10px;
}

.createQuiz__question textarea:focus {
  outline: 2px solid #85C1E5;
}

.createQuiz__choice:not(:last-child) {
  margin-bottom: 12px;
}

.createQuiz__choice input[type="text"] {
  border: 1px solid #929292;
  outline: none;
  width: 200px;
  height: 30px;
  border-radius: 5px;
  padding: 0 7px;
  margin-left: 10px;
}

.createQuiz__choice input[type="text"]:focus {
  outline: 2px solid #85C1E5;
}

.createQuiz__choice svg {
  color: red;
  margin-left: 8px;
  font-size: 14px;
  cursor: pointer;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

.createQuiz__answer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
}

.createQuiz__answer select {
  border: 1px solid #929292;
  outline: none;
  width: 200px;
  height: 35px;
  border-radius: 7px;
  padding: 0 5px;
  margin-left: 10px;
}

.createQuiz__bottomBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}

.createQuiz__bottomBtn button:first-child {
  width: 110px;
}

a {
  text-decoration: none;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.correct {
  color: #41d041;
}

.wrong {
  color: red;
}

.mt-5 {
  margin-top: 30px;
}

.float-right {
  float: right;
}

.circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #5584B1;
}

.clear {
  clear: both;
}

.sort-active,
.filter-active {
  background: #5584B1;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  padding: 8px 12px;
}

.errorMessage {
  text-align: center;
  border-radius: 5px;
  padding: 10px 0;
  background: #e25959;
  color: #fff;
  font-weight: bold;
  margin-top: 30px;
  width: 100%;
  max-width: 500px;
}

button {
  border: none;
  outline: none;
  background: #5584B1;
  color: #fff;
  width: 70px;
  height: 35px;
  line-height: 35px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: background 300ms;
  transition: background 300ms;
}

button:hover {
  background: #254E7B;
}

.container {
  padding: 20px 30px;
}

table {
  width: 100%;
}

table thead tr th {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

table tbody tr td {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  text-align: center;
}

table tbody tr td button {
  font-size: 12px !important;
  width: 100px;
  height: 25px;
  line-height: 25px;
}

.inputGroup {
  margin-bottom: 20px;
}

.inputGroup input[type="text"],
.inputGroup input[type="password"],
.inputGroup input[type="number"],
.inputGroup input[type="file"],
.inputGroup textarea {
  width: 100%;
  border: 1px solid #929292;
  outline: none;
  border-radius: 5px;
  height: 35px;
  text-indent: 7px;
  padding-right: 7px;
  margin-top: 10px;
}

.inputGroup input[type="text"]:focus,
.inputGroup input[type="password"]:focus,
.inputGroup input[type="number"]:focus,
.inputGroup input[type="file"]:focus,
.inputGroup textarea:focus {
  outline: 3px solid #CBE2EF;
}

.inputGroup textarea {
  text-indent: 0;
  padding: 7px;
  height: 150px;
}

.inputGroup--phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inputGroup--phone div {
  background: #c4c4c4;
  margin-top: 10px;
  border-radius: 5px 0 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 25px;
  padding: 0 8px;
  border: 1px solid #929292;
  border-right: none;
}

.inputGroup--phone input {
  border-radius: 0 5px 5px 0 !important;
  border-left: none !important;
}

.inputGroup--password {
  position: relative;
}

.inputGroup--password input {
  padding-right: 40px;
}

.inputGroup--password svg {
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
  cursor: pointer;
  color: #8d8d8d;
}

.inputGroup--answer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inputGroup--answer svg {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
  font-size: 21px;
}

.inputGroup--answer p {
  margin-left: 5px;
  font-size: 20px;
  font-weight: bold;
}

.inputGroup--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.inputGroup--flex .inputGroup {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 20px;
}

.searchInput {
  position: relative;
  margin-bottom: 20px;
}

.searchInput input {
  width: 100%;
  border: 1px solid #929292;
  outline: none;
  border-radius: 5px;
  height: 35px;
  padding-right: 30px;
  text-indent: 7px;
}

.searchInput input:focus {
  outline: 2px solid #85C1E5;
}

.searchInput svg {
  position: absolute;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.switchOuter {
  width: 76px;
  height: 27px;
  border-radius: 50px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 8px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.switchOuter p {
  font-size: 14px;
}

.switchOuter.active {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.switchOuter.active .switchInner {
  background: #1bbf1b;
}

.switchOuter .switchInner {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #e43b3b;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#__react-alert__ div {
  z-index: 9999 !important;
}

@media (min-width: 700px) {
  .container {
    padding: 30px 50px;
  }
}
/*# sourceMappingURL=main.css.map */