.submissionCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  border-radius: 5px;
  padding: 10px 15px;
  transition: transform 200ms;

  &:hover {
    transform: scale(1.01);
  }
  
  svg {
    cursor: pointer;
    color: $primary-color;
  }

  &:not(:last-child) {
    margin-bottom: 25px;
  }
}