@import
  './config',
  './global/navbar',
  './global/avatar',
  './auth/auth',
  './auth/role',
  './auth/roleModal',
  './dashboard/student/studentDashboard',
  './dashboard/student/classCard',
  './classDetail/classDetail',
  './classDetail/filterSearch',
  './classDetail/quizCard';

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  background: $primary-color;
  color: #fff;
  width: 70px;
  height: 35px;
  line-height: 35px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 300ms;

  &:hover {
    background: $primary-hover;
  }
}

.container {
  padding: 20px 30px;
}

.inputGroup {
  margin-bottom: 20px;

  input[type="text"],
  input[type="password"],
  input[type="number"] {
    width: 100%;
    border: 1px solid rgb(146, 146, 146);
    outline: none;
    border-radius: 5px;
    height: 35px;
    text-indent: 7px;
    padding-right: 7px;
    margin-top: 10px;

    &:focus {
      outline: 3px solid $ternary-color;
    }
  }

  &--phone {
    display: flex;

    div {
      background: rgb(196, 196, 196);
      margin-top: 10px;
      border-radius: 5px 0 0 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 25px;
      padding: 0 8px;
      border: 1px solid rgb(146, 146, 146);
      border-right: none;
    }

    input {
      border-radius: 0 5px 5px 0 !important;
      border-left: none !important;
    }
  }
  
  &--password {
    position: relative;

    input {
      padding-right: 40px;
    }

    svg {
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-4px);
      cursor: pointer;
      color: rgb(141, 141, 141);
    }
  }
}

@include mediaDesktop {
  .container {
    padding: 30px 50px;
  }
}